name: Build and deploy Python app to Azure Web App

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: Create and start virtual environment
        run: |
          python -m venv antenv
          source antenv/bin/activate
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel
          pip install -r requirements.txt
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: .
          
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app
          
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: '{"clientId":"${{ secrets.AZUREAPPSERVICE_CLIENTID_5A2559BC716F45BC94B3F42FEC558C6F }}","subscriptionId":"${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_41F1E208D6464499865A61A52CB269D2 }}","tenantId":"${{ secrets.AZUREAPPSERVICE_TENANTID_67FF15610C4C48CF8CE742E39C64DB62 }}"}'
          
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'stocks'
          package: .
