name: Build and deploy Python app to Azure Web App

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          
      - name: Create and start virtual environment
        run: |
          python -m venv antenv
          source antenv/bin/activate
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel
          pip install -r requirements.txt
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: .
          
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'production'
      
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: python-app
          
      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'stocks'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE }}
